.App {
    position: relative;
}

.scrollable-container {
    padding: 16px;
    margin-left: 400px;
}

@media (max-width: 768px) {
    .scrollable-container {
        margin-left: 0;
    }
}

.contact-list {
    max-width: 800px;
    margin: 0 auto;
}

.load-more-button {
    display: block;
    margin: 32px auto;
    padding: 18px 32px;
    font-size: 24px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.load-more-button:hover {
    background-color: var(--hover-color);
}

.load-more-button:disabled {
    background-color: var(--grey);
    cursor: not-allowed;
}

.spinner-wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 3px solid var(--grey);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.spinner::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--primary-color) transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error {
    color: var(--error-color);
    text-align: center;
    margin-top: 20px;
}