@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #2fa892;
  --hover-color: #84d1c3;
  --grey: #cccccc;
  --background-color: #f4f4f4;
  --text-color: #333333;
  --text-light-color: #626566;
  --white: #ffffff;
  --error-color: #ff4d4f;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  color: var(--text-color)
}

h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

